<!DOCTYPE html>
<html>
<head>
    <title>High Scores</title>
</head>
<body>
    <h1>Player Scores</h1>
    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            {% for player in players %}
            <tr>
                <td>{{ player.username }}</td>
                <td>{{ player.score }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
